export waffleApiSecret='123456'

export ghApiToken='123456'

export mailgunUser='123456'
export mailgunPass='123456'
export mailgunFrom='person@example.com'
export mailgunTo='person1@example.com,person2@example.com'

#export waffleProject='owner/project'
#export inProgressLabels='planned,in progress,reviewing,deploying'

node app.js