body {
    background-color: rgb(255, 255, 255);
}

li {
    margin: 15px 0px 0px 0px;
}

.report {
    margin: 50px 125px;
}

.issueDetail {
    margin: 10px 0px 0px 0px;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.state {
    font-size: 16px;
    margin: 0px 3px 0px 3px;
    color: rgb(110, 218, 110);
}

.asignees {
    font-size: 16px;
    margin: 0px 3px 0px 3px;
    color: blue;
}

.commments {
    font-size: 16px;
    margin: 0px 3px 0px 3px;
    color: blue;
}

.prs {
    font-size: 16px;
    margin: 0px 3px 0px 3px;
    color: rgb(167, 93, 237);
}

.epic {
    font-size: 16px;
    border-radius: 5px;
    padding: 3px 5px;
    margin: 0px 5px 0px 5px;
    background-color: rgb(137, 214, 242);
}